/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-maj-10, 11:42:08
    Author     : lenawikman
*/

.title {
    text-align: center;
    color: blueviolet;
}

 .tab {
    margin-left: 10em;
    }

 .bigtab {
     margin-left: 15em;    
    }
    
    .center {
        text-align: center; 
    }    
    
 .bold {
     font-weight: bold; 
     
    }
 .linebreak {
     line-break: normal;    
 }  

 .uppermarginal {
     margin-top: 2em; 
 } 
 
 .error { 
   color:red;
}
/* column header style */
.header
{ 
   background-color: #9e9e9e;
   color: white;
   text-align: left;
}
/* row styles */
.oddRows
{
   padding-left: 5px;
   background-color: #fff;
}
.evenRows
{
   padding-left: 5px;
   background-color: #f1f1f1;
}
/* table style */
.table
{

 
}
/* button style */
.button
{
   border: 1px solid #aaa;
}